:root {
  /* EXTRACTING_CSS_VARS_START */

  /**
   * We provide an extended collection of css variables which are mainly breakpoint
   * dependant or simply referencing other variables.
   * Due to technical limitations these variables are only provided as CSS variables.
   */

  /* Colors */
  --sbb-color-primary: var(--sbb-color-red);
  --sbb-color-primary-alpha-20: color-mix(in srgb, var(--sbb-color-primary) 20%, transparent);
  --sbb-color-primary-alpha-40: color-mix(in srgb, var(--sbb-color-primary) 40%, transparent);
  --sbb-color-primary-alpha-60: color-mix(in srgb, var(--sbb-color-primary) 60%, transparent);
  --sbb-color-primary-alpha-90: color-mix(in srgb, var(--sbb-color-primary) 90%, transparent);
  --sbb-color-primary-85: var(--sbb-color-red85);
  --sbb-color-primary-125: var(--sbb-color-red125);
  --sbb-color-primary-125-alpha-20: color-mix(
    in srgb,
    var(--sbb-color-primary-125) 20%,
    transparent
  );
  --sbb-color-primary-125-alpha-40: color-mix(
    in srgb,
    var(--sbb-color-primary-125) 40%,
    transparent
  );
  --sbb-color-primary-125-alpha-60: color-mix(
    in srgb,
    var(--sbb-color-primary-125) 60%,
    transparent
  );
  --sbb-color-primary-150: var(--sbb-color-red150);

  --sbb-color-error: light-dark(var(--sbb-color-red125), var(--sbb-color-red85));
  --sbb-color-success: var(--sbb-color-green);
  --sbb-color-warning: var(--sbb-color-peach);
  --sbb-color-brand: var(--sbb-color-red);

  --sbb-background-color-1: light-dark(var(--sbb-color-white), var(--sbb-color-midnight));
  --sbb-background-color-1-inverted: light-dark(var(--sbb-color-midnight), var(--sbb-color-white));
  --sbb-background-color-1-negative: var(--sbb-color-midnight);
  --sbb-background-color-1-negative-inverted: var(--sbb-color-white);
  --sbb-background-color-2: light-dark(var(--sbb-color-white), var(--sbb-color-charcoal));
  --sbb-background-color-2-inverted: light-dark(var(--sbb-color-charcoal), var(--sbb-color-white));
  --sbb-background-color-2-negative: var(--sbb-color-charcoal);
  --sbb-background-color-2-negative-inverted: var(--sbb-color-white);
  --sbb-background-color-3: light-dark(var(--sbb-color-milk), var(--sbb-color-charcoal));
  --sbb-background-color-3-inverted: light-dark(var(--sbb-color-charcoal), var(--sbb-color-milk));
  --sbb-background-color-3-negative: var(--sbb-color-charcoal);
  --sbb-background-color-3-negative-inverted: var(--sbb-color-milk);
  --sbb-background-color-4: light-dark(var(--sbb-color-cloud), var(--sbb-color-iron));
  --sbb-background-color-4-inverted: light-dark(var(--sbb-color-iron), var(--sbb-color-cloud));
  --sbb-background-color-4-negative: var(--sbb-color-iron);
  --sbb-background-color-4-negative-inverted: var(--sbb-color-cloud);

  --sbb-color-1: light-dark(var(--sbb-color-midnight), var(--sbb-color-white));
  --sbb-color-1-inverted: light-dark(var(--sbb-color-white), var(--sbb-color-midnight));
  --sbb-color-1-negative: var(--sbb-color-white);
  --sbb-color-1-negative-inverted: var(--sbb-color-midnight);
  --sbb-color-2: light-dark(var(--sbb-color-charcoal), var(--sbb-color-white));
  --sbb-color-2-inverted: light-dark(var(--sbb-color-white), var(--sbb-color-charcoal));
  --sbb-color-2-negative: var(--sbb-color-white);
  --sbb-color-2-negative-inverted: var(--sbb-color-charcoal);
  --sbb-color-3: light-dark(var(--sbb-color-charcoal), var(--sbb-color-milk));
  --sbb-color-3-inverted: light-dark(var(--sbb-color-milk), var(--sbb-color-charcoal));
  --sbb-color-3-negative: var(--sbb-color-milk);
  --sbb-color-3-negative-inverted: var(--sbb-color-charcoal);
  --sbb-color-4: light-dark(var(--sbb-color-iron), var(--sbb-color-cloud));
  --sbb-color-4-inverted: light-dark(var(--sbb-color-cloud), var(--sbb-color-iron));
  --sbb-color-4-negative: var(--sbb-color-cloud);
  --sbb-color-4-negative-inverted: var(--sbb-color-iron);
  --sbb-color-5: var(--sbb-color-smoke);

  --sbb-border-color-1: light-dark(var(--sbb-color-midnight), var(--sbb-color-white));
  --sbb-border-color-1-inverted: light-dark(var(--sbb-color-white), var(--sbb-color-midnight));
  --sbb-border-color-1-negative: var(--sbb-color-white);
  --sbb-border-color-1-negative-inverted: var(--sbb-color-midnight);
  --sbb-border-color-2: light-dark(var(--sbb-color-charcoal), var(--sbb-color-white));
  --sbb-border-color-2-inverted: light-dark(var(--sbb-color-white), var(--sbb-color-charcoal));
  --sbb-border-color-2-negative: var(--sbb-color-white);
  --sbb-border-color-2-negative-inverted: var(--sbb-color-charcoal);
  --sbb-border-color-3: light-dark(var(--sbb-color-charcoal), var(--sbb-color-milk));
  --sbb-border-color-3-inverted: light-dark(var(--sbb-color-milk), var(--sbb-color-charcoal));
  --sbb-border-color-3-negative: var(--sbb-color-milk);
  --sbb-border-color-3-negative-inverted: var(--sbb-color-charcoal);
  --sbb-border-color-4: light-dark(var(--sbb-color-iron), var(--sbb-color-cloud));
  --sbb-border-color-4-inverted: light-dark(var(--sbb-color-cloud), var(--sbb-color-iron));
  --sbb-border-color-4-negative: var(--sbb-color-cloud);
  --sbb-border-color-4-negative-inverted: var(--sbb-color-iron);
  --sbb-border-color-5: var(--sbb-color-smoke);

  --sbb-shadow-color-soft-1: light-dark(
    var(--sbb-color-smoke-alpha-5),
    var(--sbb-color-black-alpha-15)
  );
  --sbb-shadow-color-soft-2: light-dark(
    var(--sbb-color-smoke-alpha-10),
    var(--sbb-color-black-alpha-20)
  );
  --sbb-shadow-color-soft-1-negative: light-dark(
    var(--sbb-color-black-alpha-15),
    var(--sbb-color-black-alpha-15)
  );
  --sbb-shadow-color-soft-2-negative: light-dark(
    var(--sbb-color-black-alpha-20),
    var(--sbb-color-black-alpha-20)
  );
  --sbb-shadow-color-hard-1: light-dark(
    var(--sbb-color-smoke-alpha-10),
    var(--sbb-color-black-alpha-30)
  );
  --sbb-shadow-color-hard-2: light-dark(
    var(--sbb-color-smoke-alpha-20),
    var(--sbb-color-black-alpha-40)
  );
  --sbb-shadow-color-hard-1-negative: light-dark(
    var(--sbb-color-black-alpha-30),
    var(--sbb-color-black-alpha-30)
  );
  --sbb-shadow-color-hard-2-negative: light-dark(
    var(--sbb-color-black-alpha-40),
    var(--sbb-color-black-alpha-40)
  );

  --sbb-font-default-color: var(--sbb-color-2);

  /* Focus outline */
  --sbb-focus-outline-color-default: var(--sbb-color-black);
  --sbb-focus-outline-color-dark: var(--sbb-color-white);
  --sbb-focus-outline-color: light-dark(
    var(--sbb-focus-outline-color-default),
    var(--sbb-focus-outline-color-dark)
  );
  --sbb-focus-outline-width: var(--sbb-border-width-1x);

  /* Title */
  --sbb-font-size-title-1: var(--sbb-typo-scale-2-5x);
  --sbb-font-size-title-2: var(--sbb-typo-scale-2x);
  --sbb-font-size-title-3: var(--sbb-typo-scale-1-5x);
  --sbb-font-size-title-4: var(--sbb-typo-scale-1-25x);
  --sbb-font-size-title-5: var(--sbb-typo-scale-1-125x);
  --sbb-font-size-title-6: var(--sbb-typo-scale-0-875x);
  --sbb-font-size-title-7: var(--sbb-typo-scale-0-75x);
  --sbb-font-size-text-xl: var(--sbb-typo-scale-1-25x);
  --sbb-font-size-text-l: var(--sbb-typo-scale-1-125x);
  --sbb-font-size-text-m: var(--sbb-typo-scale-default);
  --sbb-font-size-text-s: var(--sbb-typo-scale-0-875x);
  --sbb-font-size-text-xs: var(--sbb-typo-scale-0-75x);
  --sbb-font-size-text-xxs: var(--sbb-typo-scale-0-75x);

  /* Spacing */
  --sbb-spacing-responsive-xxxs: var(--sbb-spacing-responsive-xxxs-zero);
  --sbb-spacing-responsive-xxs: var(--sbb-spacing-responsive-xxs-zero);
  --sbb-spacing-responsive-xs: var(--sbb-spacing-responsive-xs-zero);
  --sbb-spacing-responsive-s: var(--sbb-spacing-responsive-s-zero);
  --sbb-spacing-responsive-m: var(--sbb-spacing-responsive-m-zero);
  --sbb-spacing-responsive-l: var(--sbb-spacing-responsive-l-zero);
  --sbb-spacing-responsive-xl: var(--sbb-spacing-responsive-xl-zero);
  --sbb-spacing-responsive-xxl: var(--sbb-spacing-responsive-xxl-zero);

  /* Layout */
  --sbb-layout-base-offset-responsive: var(--sbb-layout-base-offset-responsive-zero);
  --sbb-grid-base-columns: var(--sbb-layout-base-grid-columns-zero);
  --sbb-grid-base-gutter-responsive: var(--sbb-layout-base-grid-gutter-responsive-zero);

  /* Size */
  --sbb-size-element-xxxs: var(--sbb-size-element-xxxs-zero);
  --sbb-size-element-xxs: var(--sbb-size-element-xxs-zero);
  --sbb-size-element-xs: var(--sbb-size-element-xs-zero);
  --sbb-size-element-s: var(--sbb-size-element-s-zero);
  --sbb-size-element-m: var(--sbb-size-element-m-zero);
  --sbb-size-element-l: var(--sbb-size-element-l-zero);

  @media (forced-colors: active) {
    /* Focus outline */
    --sbb-focus-outline-color-default: Highlight;
    --sbb-focus-outline-color-dark: Highlight;
    --sbb-focus-outline-width: var(--sbb-border-width-2x);
  }

  /**
   * Micro (value corresponds to --sbb-breakpoint-micro-min)
   */
  @media (min-width: 22.5rem) {
    /* Layout */
    --sbb-layout-base-offset-responsive: var(--sbb-layout-base-offset-responsive-micro);
    --sbb-grid-base-columns: var(--sbb-layout-base-grid-columns-micro);
    --sbb-grid-base-gutter-responsive: var(--sbb-layout-base-grid-gutter-responsive-micro);
  }

  /**
   * Small (value corresponds to --sbb-breakpoint-small-min)
   */
  @media (min-width: 37.5rem) {
    /* Title */
    --sbb-font-size-title-1: var(--sbb-typo-scale-3x);

    /* Spacing */
    --sbb-spacing-responsive-l: var(--sbb-spacing-responsive-l-small);
    --sbb-spacing-responsive-xl: var(--sbb-spacing-responsive-xl-small);
    --sbb-spacing-responsive-xxl: var(--sbb-spacing-responsive-xxl-small);

    /* Layout */
    --sbb-layout-base-offset-responsive: var(--sbb-layout-base-offset-responsive-small);
    --sbb-grid-base-columns: var(--sbb-layout-base-grid-columns-small);
    --sbb-grid-base-gutter-responsive: var(--sbb-layout-base-grid-gutter-responsive-small);
  }

  /**
   * Medium (value corresponds to --sbb-breakpoint-medium-min)
   */
  @media (min-width: 52.5rem) {
    /* Title */
    --sbb-font-size-title-2: var(--sbb-typo-scale-2-5x);
    --sbb-font-size-title-3: var(--sbb-typo-scale-2x);
    --sbb-font-size-title-4: var(--sbb-typo-scale-1-5x);
    --sbb-font-size-title-5: var(--sbb-typo-scale-1-25x);
    --sbb-font-size-title-6: var(--sbb-typo-scale-default);
    --sbb-font-size-title-7: var(--sbb-typo-scale-0-875x);
    --sbb-font-size-text-xl: var(--sbb-typo-scale-1-5x);
    --sbb-font-size-text-l: var(--sbb-typo-scale-1-25x);
    --sbb-font-size-text-m: var(--sbb-typo-scale-1-125x);
    --sbb-font-size-text-s: var(--sbb-typo-scale-default);
    --sbb-font-size-text-xs: var(--sbb-typo-scale-0-875x);

    /* Spacing */
    --sbb-spacing-responsive-xxxs: var(--sbb-spacing-responsive-xxxs-medium);
    --sbb-spacing-responsive-xxs: var(--sbb-spacing-responsive-xxs-medium);
    --sbb-spacing-responsive-xs: var(--sbb-spacing-responsive-xs-medium);
    --sbb-spacing-responsive-s: var(--sbb-spacing-responsive-s-medium);
    --sbb-spacing-responsive-m: var(--sbb-spacing-responsive-m-medium);
    --sbb-spacing-responsive-l: var(--sbb-spacing-responsive-l-medium);
    --sbb-spacing-responsive-xl: var(--sbb-spacing-responsive-xl-medium);
    --sbb-spacing-responsive-xxl: var(--sbb-spacing-responsive-xxl-medium);

    /* Layout */
    --sbb-layout-base-offset-responsive: var(--sbb-layout-base-offset-responsive-medium);
    --sbb-grid-base-columns: var(--sbb-layout-base-grid-columns-medium);
    --sbb-grid-base-gutter-responsive: var(--sbb-layout-base-grid-gutter-responsive-medium);

    /* Size */
    --sbb-size-element-xxxs: var(--sbb-size-element-xxxs-medium);
    --sbb-size-element-xxs: var(--sbb-size-element-xxs-medium);
    --sbb-size-element-xs: var(--sbb-size-element-xs-medium);
    --sbb-size-element-s: var(--sbb-size-element-s-medium);
    --sbb-size-element-m: var(--sbb-size-element-m-medium);
    --sbb-size-element-l: var(--sbb-size-element-l-medium);
  }

  /**
   * Large (value corresponds to --sbb-breakpoint-large-min)
   */
  @media (min-width: 64rem) {
    /* Title */
    --sbb-font-size-title-1: var(--sbb-typo-scale-3-5x);

    /* Spacing */
    --sbb-spacing-responsive-l: var(--sbb-spacing-responsive-l-large);
    --sbb-spacing-responsive-xl: var(--sbb-spacing-responsive-xl-large);
    --sbb-spacing-responsive-xxl: var(--sbb-spacing-responsive-xxl-large);

    /* Layout */
    --sbb-layout-base-offset-responsive: var(--sbb-layout-base-offset-responsive-large);
    --sbb-grid-base-columns: var(--sbb-layout-base-grid-columns-large);
    --sbb-grid-base-gutter-responsive: var(--sbb-layout-base-grid-gutter-responsive-large);
  }

  /**
   * Wide (value corresponds to --sbb-breakpoint-wide-min)
   */
  @media (min-width: 80rem) {
    /* Spacing */
    --sbb-spacing-responsive-m: var(--sbb-spacing-responsive-m-wide);

    /* Layout */
    --sbb-layout-base-offset-responsive: var(--sbb-layout-base-offset-responsive-wide);
    --sbb-grid-base-columns: var(--sbb-layout-base-grid-columns-wide);
    --sbb-grid-base-gutter-responsive: var(--sbb-layout-base-grid-gutter-responsive-wide);
  }

  /**
   * Ultra (value corresponds to --sbb-breakpoint-ultra-min)
   */
  @media (min-width: 90rem) {
    /* Title */
    --sbb-font-size-title-1: var(--sbb-typo-scale-4x);

    /* Spacing */
    --sbb-spacing-responsive-l: var(--sbb-spacing-responsive-l-ultra);
    --sbb-spacing-responsive-xl: var(--sbb-spacing-responsive-xl-ultra);
    --sbb-spacing-responsive-xxl: var(--sbb-spacing-responsive-xxl-ultra);

    /* Layout */
    --sbb-layout-base-offset-responsive: var(--sbb-layout-base-offset-responsive-ultra);
    --sbb-grid-base-columns: var(--sbb-layout-base-grid-columns-ultra);
    --sbb-grid-base-gutter-responsive: var(--sbb-layout-base-grid-gutter-responsive-ultra);
  }

  /* EXTRACTING_CSS_VARS_END */
}
