:root {
  /* EXTRACTING_CSS_VARS_START */

  /**
   * We provide an extended collection of CSS variables which are mainly breakpoint
   * dependant or simply referencing other variables.
   * Due to technical limitations these variables are only provided as CSS variables.
   */

  /* Font color */
  --sbb-font-default-color: var(--sbb-color-charcoal);

  /* Focus outline */
  --sbb-focus-outline-color-default: var(--sbb-color-black);
  --sbb-focus-outline-color-dark: var(--sbb-color-white);
  --sbb-focus-outline-color: var(--sbb-focus-outline-color-default);
  --sbb-focus-outline-width: var(--sbb-border-width-1x);

  /* Title */
  --sbb-font-size-title-1: var(--sbb-typo-scale-2-5x);
  --sbb-font-size-title-2: var(--sbb-typo-scale-2x);
  --sbb-font-size-title-3: var(--sbb-typo-scale-1-5x);
  --sbb-font-size-title-4: var(--sbb-typo-scale-1-25x);
  --sbb-font-size-title-5: var(--sbb-typo-scale-1-125x);
  --sbb-font-size-title-6: var(--sbb-typo-scale-0-875x);
  --sbb-font-size-title-7: var(--sbb-typo-scale-0-75x);
  --sbb-font-size-text-xl: var(--sbb-typo-scale-1-25x);
  --sbb-font-size-text-l: var(--sbb-typo-scale-1-125x);
  --sbb-font-size-text-m: var(--sbb-typo-scale-default);
  --sbb-font-size-text-s: var(--sbb-typo-scale-0-875x);
  --sbb-font-size-text-xs: var(--sbb-typo-scale-0-75x);
  --sbb-font-size-text-xxs: var(--sbb-typo-scale-0-75x);

  /* Spacing */
  --sbb-spacing-responsive-xxxs: var(--sbb-spacing-responsive-xxxs-zero);
  --sbb-spacing-responsive-xxs: var(--sbb-spacing-responsive-xxs-zero);
  --sbb-spacing-responsive-xs: var(--sbb-spacing-responsive-xs-zero);
  --sbb-spacing-responsive-s: var(--sbb-spacing-responsive-s-zero);
  --sbb-spacing-responsive-m: var(--sbb-spacing-responsive-m-zero);
  --sbb-spacing-responsive-l: var(--sbb-spacing-responsive-l-zero);
  --sbb-spacing-responsive-xl: var(--sbb-spacing-responsive-xl-zero);
  --sbb-spacing-responsive-xxl: var(--sbb-spacing-responsive-xxl-zero);

  /* Layout */
  --sbb-layout-base-offset-responsive: var(--sbb-layout-base-offset-responsive-zero);
  --sbb-grid-base-columns: var(--sbb-layout-base-grid-columns-zero);
  --sbb-grid-base-gutter-responsive: var(--sbb-layout-base-grid-gutter-responsive-zero);

  /* Size */
  --sbb-size-element-xxxs: var(--sbb-size-element-xxxs-zero);
  --sbb-size-element-xxs: var(--sbb-size-element-xxs-zero);
  --sbb-size-element-xs: var(--sbb-size-element-xs-zero);
  --sbb-size-element-s: var(--sbb-size-element-s-zero);
  --sbb-size-element-m: var(--sbb-size-element-m-zero);
  --sbb-size-element-l: var(--sbb-size-element-l-zero);

  @media (forced-colors: active) {
    /* Focus outline */
    --sbb-focus-outline-color-default: Highlight;
    --sbb-focus-outline-color-dark: Highlight;
    --sbb-focus-outline-width: var(--sbb-border-width-2x);
  }

  /**
   * Small (value corresponds to --sbb-breakpoint-small-min)
   */
  @media (min-width: 37.5rem) {
    /* Title */
    --sbb-font-size-title-1: var(--sbb-typo-scale-3x);

    /* Spacing */
    --sbb-spacing-responsive-l: var(--sbb-spacing-responsive-l-small);
    --sbb-spacing-responsive-xl: var(--sbb-spacing-responsive-xl-small);
    --sbb-spacing-responsive-xxl: var(--sbb-spacing-responsive-xxl-small);

    /* Layout */
    --sbb-layout-base-offset-responsive: var(--sbb-layout-base-offset-responsive-small);
    --sbb-grid-base-columns: var(--sbb-layout-base-grid-columns-small);
    --sbb-grid-base-gutter-responsive: var(--sbb-layout-base-grid-gutter-responsive-small);
  }

  /**
   * Large (value corresponds to --sbb-breakpoint-large-min)
   */
  @media (min-width: 64rem) {
    /* Title */
    --sbb-font-size-title-1: var(--sbb-typo-scale-3-5x);
    --sbb-font-size-title-2: var(--sbb-typo-scale-2-5x);
    --sbb-font-size-title-3: var(--sbb-typo-scale-2x);
    --sbb-font-size-title-4: var(--sbb-typo-scale-1-5x);
    --sbb-font-size-title-5: var(--sbb-typo-scale-1-25x);
    --sbb-font-size-title-6: var(--sbb-typo-scale-default);
    --sbb-font-size-title-7: var(--sbb-typo-scale-0-875x);
    --sbb-font-size-text-xl: var(--sbb-typo-scale-1-5x);
    --sbb-font-size-text-l: var(--sbb-typo-scale-1-25x);
    --sbb-font-size-text-m: var(--sbb-typo-scale-1-125x);
    --sbb-font-size-text-s: var(--sbb-typo-scale-default);
    --sbb-font-size-text-xs: var(--sbb-typo-scale-0-875x);

    /* Spacing */
    --sbb-spacing-responsive-xxxs: var(--sbb-spacing-responsive-xxxs-large);
    --sbb-spacing-responsive-xxs: var(--sbb-spacing-responsive-xxs-large);
    --sbb-spacing-responsive-xs: var(--sbb-spacing-responsive-xs-large);
    --sbb-spacing-responsive-s: var(--sbb-spacing-responsive-s-large);
    --sbb-spacing-responsive-m: var(--sbb-spacing-responsive-m-large);
    --sbb-spacing-responsive-l: var(--sbb-spacing-responsive-l-large);
    --sbb-spacing-responsive-xl: var(--sbb-spacing-responsive-xl-large);
    --sbb-spacing-responsive-xxl: var(--sbb-spacing-responsive-xxl-large);

    /* Layout */
    --sbb-layout-base-offset-responsive: var(--sbb-layout-base-offset-responsive-large);
    --sbb-grid-base-columns: var(--sbb-layout-base-grid-columns-large);
    --sbb-grid-base-gutter-responsive: var(--sbb-layout-base-grid-gutter-responsive-large);

    /* Size */
    --sbb-size-element-xxxs: var(--sbb-size-element-xxxs-large);
    --sbb-size-element-xxs: var(--sbb-size-element-xxs-large);
    --sbb-size-element-xs: var(--sbb-size-element-xs-large);
    --sbb-size-element-s: var(--sbb-size-element-s-large);
    --sbb-size-element-m: var(--sbb-size-element-m-large);
    --sbb-size-element-l: var(--sbb-size-element-l-large);
  }

  /**
   * Ultra (value corresponds to --sbb-breakpoint-ultra-min)
   */
  @media (min-width: 90rem) {
    /* Title */
    --sbb-font-size-title-1: var(--sbb-typo-scale-4x);

    /* Spacing */
    --sbb-spacing-responsive-m: var(--sbb-spacing-responsive-m-ultra);
    --sbb-spacing-responsive-l: var(--sbb-spacing-responsive-l-ultra);
    --sbb-spacing-responsive-xl: var(--sbb-spacing-responsive-xl-ultra);
    --sbb-spacing-responsive-xxl: var(--sbb-spacing-responsive-xxl-ultra);

    /* Layout */
    --sbb-layout-base-offset-responsive: var(--sbb-layout-base-offset-responsive-ultra);
    --sbb-grid-base-columns: var(--sbb-layout-base-grid-columns-ultra);
    --sbb-grid-base-gutter-responsive: var(--sbb-layout-base-grid-gutter-responsive-ultra);
  }

  /* EXTRACTING_CSS_VARS_END */
}
