name: Release Please
on:
  push:
    branches:
      - main

# Documentation:
# https://github.com/googleapis/release-please
# https://github.com/google-github-actions/release-please-action
# https://github.com/googleapis/release-please/blob/main/docs/customizing.md

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v4
        id: release
        with:
          release-type: node
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
      - name: Release Info
        run: echo "$RELEASE_OUTPUT"
        env:
          RELEASE_OUTPUT: ${{ toJSON(steps.release.outputs) }}

      - uses: actions/checkout@v4
        if: ${{ steps.release.outputs.release_created }}
      - uses: actions/setup-node@v4
        if: ${{ steps.release.outputs.release_created }}
        with:
          node-version-file: .nvmrc
          cache: yarn
          registry-url: 'https://registry.npmjs.org'
          scope: sbb-esta
      - run: yarn install --frozen-lockfile --non-interactive
        if: ${{ steps.release.outputs.release_created }}

      - name: Run build
        if: ${{ steps.release.outputs.release_created }}
        run: yarn build
      - name: 'Release: Determine npm tag'
        if: ${{ steps.release.outputs.release_created }}
        id: npm_tag
        run: echo "npm_tag=$([[ "${{ steps.release.outputs.version }}" == *"-"* ]] && echo "next" || echo "latest")" >> $GITHUB_OUTPUT
      - name: 'Release: Publish @sbb-esta/lyne-design-tokens'
        if: ${{ steps.release.outputs.release_created }}
        run: yarn publish --tag ${{ steps.npm_tag.outputs.npm_tag }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
